

    <!-- <input type="button" value="hello"> -->

    <div class="navbar">
        <!-- <%=message.message%> -->
        <h4 class="username">hello <%= username %></h4>
        <div class="dropdown">
          <button class="dropbtn">Options<span class="iconify" data-icon="ant-design:caret-down-filled" data-inline="false"></span></button>
          <div class="dropdown-content">
            <a href="/dashboard">Dashboard</a>
            <a href="/dashboard/logout">Logout</a>
          </div>
        </div> 
    </div>