<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Authorisation</title>
    <link rel="stylesheet" href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css">
    <link rel="stylesheet" href="https://unpkg.com/filepond/dist/filepond.min.css">
    <link rel="stylesheet" href="/css/dashcss.css">
   
</head>

<body>

    <h4>hello <%= username %> </h4>
    <div class="menu">
    <form onsubmit="checkextension()"  method="post"  role="form" enctype="multipart/form-data">
                                     
                                          
      <div class="form-group">
          <img id="resize" src="/uploads/<%=img_name%>" alt="<%=img_name%>" >
          <!-- <label for="file" >Upload File</label> -->
          <p style="color: aliceblue; font-size: 1rem;">* Valid file types are :.png, .jpeg, .jpg, .gif</p>
          <div >
              <input type="file" class="form-control bg" name="file" id="fUpload"  required/>
          </div>
      </div>
      
  
      <div class="form-group">
          <!-- Button -->                                        
          <div >
          <input type="submit" name="upload" value="Upload" id="shiftupload" class="btn1"> 
           
          </div>
          <%=img_error%>
      </div>

      
      
      
      
      
  </form>
  <form action="/dashboard/logout" method="GET">
    <button  type="submit" >LOG OUT</button>
  </form>

  <form action="/dashboard/mail" method="GET">
    <button  type="submit" >MAIL</button>
  </form>
    
</body>


<script>
    function checkextension() {
      var file = document.querySelector("#fUpload");
      if ( /\.(jpe?g|png|gif)$/i.test(file.files[0].name) === false ) { alert("not an image!"); }
      else{
        fetch('localhost:3000/dashboard')
        .then(response => response.json())
        .then(data => console.log(data));

      }
    }
    </script>

</html>