<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domains</title>
    <link rel="stylesheet" href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css">
    <link rel="stylesheet" href="https://unpkg.com/filepond/dist/filepond.min.css">
    <link rel="stylesheet" href="/public/css/dashcss.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://kit.fontawesome.com/87390cb8ac.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <%- include('partials/domain_css') %>
</head>

<body>
    <%- include('partials/navbar') %>

    <div class="modal" id="modal">
        <div class="modal-header">
            <div class="title">Choose a Domain👇🏻</div>
            <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            <select id="list" name="list" onchange="getSelectValue();">
                <option value="">Domains:</option>
                <option value="JavaScript" name="JavaScript">JavaScript</option>
                <option value="Python" name="Python">Python</option>
                <option value="HTML" name="HTML">HTML</option>
                <option value="CSS" name="CSS">CSS</option>
                <option value="C++" name="C">C++</option>
            </select>
        </div>
    </div> 


    <div id="overlay"></div>
    
    <div class="outer">
        <h3>Need Collaborators Of Domain :</h3>
        <div class="text_box1">
            <button class="mainbutton" data-modal-target="#modal">Add Domain</button>
            <button class="confirm_domain" onclick="sendJSON()">Confirm Domains</button>
            <ul id="myDomain"></ul>
        </div>
    </div>
    <div id="further" style="display: flex;">
        To Mail click:<a class="proceed" href="/dashboard/domain/mail"><span class="iconify fa-arrow-alt-circle-right" data-icon="carbon:next-filled" data-inline="false"></span></a>
    </div>

<script>
    const openModalButtons = document.querySelectorAll('[data-modal-target]')
    const closeModalButtons = document.querySelectorAll('[data-close-button]')
    const overlay = document.getElementById('overlay')

    openModalButtons.forEach(button => {
        button.addEventListener('click', () => {
            const modal = document.querySelector(button.dataset.modalTarget)
            openModal(modal)
        })
    })

        overlay.addEventListener('click', () => {
            const modals = document.querySelectorAll('.modal.active')
            modals.forEach(modal => {
                closeModal(modal)
            })
        })

        closeModalButtons.forEach(button => {
            button.addEventListener('click', () => {
                const modal = button.closest('.modal')
                closeModal(modal)
            })
        })

        function openModal(modal) {
            if (modal == null) return
            modal.classList.add('active')
            overlay.classList.add('active')
        }

        function closeModal(modal) {
            if (modal == null) return
            modal.classList.remove('active')
            overlay.classList.remove('active')
        }

        var obj = {
            finalList: [],
        }

        var itemList;
        function getSelectValue() {
            var val = document.getElementById('list');
            var items = document.getElementById("myDomain");
            itemList = items.getElementsByTagName("li");
            var selectValue = val.value;
            var flag = 1;
            for (var i = 0; i < itemList.length; i++) {
                var text = itemList[i].innerHTML;
                var len = itemList[i].innerHTML.length;
                var finalText = text.substring(0, len - 33);
                if (finalText == selectValue) {
                    flag = 0;
                    break;
                }
            }
            if (flag == 1 && selectValue!="") {
                var node = document.createElement("LI");
                var textnode = document.createTextNode(selectValue);
                obj.finalList.push(selectValue);
                var button = document.createElement("button");
                button.classList.add('closex');
                button.innerHTML = "❌";
                node.appendChild(textnode);
                node.appendChild(button);
                node.classList.add('removable');
                items.appendChild(node);
                button.addEventListener("click", function () {
                    var l = button.parentElement.innerHTML.length;
                    var val = button.parentElement.innerHTML.substring(0, l - 33);
                    var index = obj.finalList.indexOf(val);
                    if (index > -1) {
                        obj.finalList.splice(index, 1);
                    }
                    items.removeChild(button.parentElement);
                });
            }
            else if(selectValue!="")
                alert(finalText + " is Already Added");
        }



        function sendJSON() {
            if(obj.finalList.length==0){
                alert("No domains selected... please add the domain");
            }
            else{
                // console.log(obj);
                var myJSON = JSON.stringify({ "finalList": obj.finalList});
                // console.log(myJSON);
                let xhr = new XMLHttpRequest();
                let url = "http://localhost:3000/dashboard/domain"; //jahan catch krna h

                xhr.open("POST", url, true);

                xhr.setRequestHeader("Content-Type", "application/json");

                xhr.send(myJSON);

                document.getElementById("further").style.opacity=1;
                document.getElementById("myDomain").style.display="none";
            }   
        }
        //to reload when it is accessed through back button of browser
        var perfEntries = performance.getEntriesByType("navigation");

            if (perfEntries[0].type === "back_forward") {
                    location.reload(true);
                }
    </script>
</body>
</html>