<!DOCTYPE html>
<html>
  <head>
    <title>The Collaborator</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="/assets/css/noscript.css"
    /></noscript>

    <style>
      html{
        scroll-behavior: smooth;
      }
      .fixed-side-navbar {
        position: fixed;
        top: 50%;
        right: 0;
        z-index: 99999;
        margin-top: -100px;
        text-align: right;
        padding: 30px 0;
        -webkit-transition: all 0.3s;
        transition: 0.3s;
      }
      .fixed-side-navbar:hover {
        background: transparent;
      }
      .fixed-side-navbar:hover .nav > li > a > span {
        color: rgb(100, 100, 100);
    	  font-weight: bold;
        display: block;
        background-color: #ddd;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        padding: 2px 12px;
        border-radius: 15px;
      }

      .fixed-side-navbar:hover .nav > li > a > span:hover{
        color:black;
        font-weight: bold !important;
      }
      .fixed-side-navbar .nav > li a.active {
        background-color: transparent;
        color: black;
      }
      .fixed-side-navbar .nav > li a.active:after {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
      .fixed-side-navbar .nav > li a.active:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 17px;
        margin-top: -8px;
        width: 16px;
        height: 16px;
        background: transparent;
        border: 2px solid #fff;
        border-radius: 10px;
      }
      .nav > li {
        position: relative;
        display: block;
      }
      .fixed-side-navbar .nav > li a {
        color: #fff;
        min-height: 32px;
        background: transparent;
        padding: 5px 38px 4px 40px;
        border-right: none;
      }
      .fixed-side-navbar .nav > li a span {
        display: none;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
      }
      .fixed-side-navbar .nav > li a:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -5px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background: rgba(250, 250, 250, 0.75);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
      }
      .fixed-side-navbar .nav > li a:hover > span {
        color: black;
        display: block;
      }
	  .nav {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}
	.flex-column {
		flex-direction: column!important;
	}
	dl, ol, ul {
		margin-top: 0;
		margin-bottom: 1rem;
	}
	.nav>li {
		position: relative;
		display: block;
	}
	.nav-link {
		display: block;
    background-color: none;
    border-bottom: 0;
		padding: .5rem 0;
  }
  .nav-item{
    height: 35px;
  }

  
  input[type=submit]:focus{
      transform:scale(0.95);
    }
    input[type=file]:focus{
      transform:scale(0.95);
    }

    button:active{
      transform: scale(0.95);
    }

    </style>
  </head>

  <body class="is-preload">
    <!-- NAVIGATION SIDEBAR -->
    <div class="fixed-side-navbar">
      <ul id="ulCategory" class="nav flex-column">
        <li class="nav-item">
          <a id="intro" class="nav-link active" href="#page-wrapper"><span>Intro</span></a>
        </li>
        <li class="nav-item">
          <a id="aboutus" class="nav-link" href="#abouttk"><span>About Us</span></a>
        </li>
        <li class="nav-item">
          <a id="chatty" class="nav-link" href="#chattty"><span>Chat System</span></a>
        </li>
        <li class="nav-item">
          <a id="cont" class="nav-link" href="#footer"><span>Contact Us</span></a>
        </li>
      </ul>
    </div>

    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <nav>
          <a id="auth" href="/auth/github"
            >Sign Up with<i class="fa fa-github large" aria-hidden="true"></i
          ></a>
        </nav>
      </header>

      <!-- Menu -->

      <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <div class="logo"><span class="icon fa-user"></span></div>
          <h2 id="upar">Welcome to THE COLLABORATOR</h2>
          <p>Web app to find collaborators for your project</p>
        </div>
      </section>
      <div id="abouttk"></div>
      <!-- Wrapper -->
      <section id="wrapper">
        <!-- One -->
        <section class="wrapper spotlight style1">
          <div class="inner">
            <div id="about"></div>
            <!-- <a href="#" class="image"><img src="https://media.giphy.com/media/Y13eeSX3fTKMKqC0Vi/giphy.gif" alt="" /></a> -->
            <video class="image eff4" src="images/intro.mp4" loop muted autoplay></video>
            <div class="content eff3">
              <h2 class="major">About Us</h2>
                  
              <p>
                It will help you in finding the best collaborators for your project.
                Just enter the domains that you want your collaborator to have and give
                a description about your project.  
              </p>
              <a href="/auth/github" class="special">Proceed to Sign UP/SIGN IN</a>
              <div id="chattty"></div>
            </div>
          </div>
        </section>
        <!-- Two -->
        <section id="two" class="wrapper alt spotlight style2">
          <div class="inner">
            <!-- <a href="#" class="image"><img src="images/chat.gif" alt="" /></a> -->
            <video id="vid" class="image eff1" src="images/chatty.mp4" autoplay muted loop></video>
            <div class="content eff2">
              <div id="chat"></div>
              <h2 class="major">Chat Room Feature</h2>
              <p>
                When great minds are together great projects are made.<br>
                Discuss your ideas in the group chat system.
              </p>
              <a href="/auth/github" class="special">Proceed to Sign UP/SIGN IN</a>
            </div>
          </div>
        </section>
      </section>

      <!-- Footer -->
      <section id="footer">
        <div class="inner">
          <h2 class="major">Get in touch</h2>
          <ul class="contact">
            <li class="icon solid fa-home">
              Chandigarh University, Mohali, Punjab, India.
            </li>
            <li class="icon solid fa-phone">(+91) 9453316894 , 7678602279</li>
            <li class="icon solid fa-envelope">
              <a href="mailto:aksjain891999@gmail.com" target="_blank">aksjain891999@gmail.com</a>
            </li>
            <li class="icon brands fa-github">
              <a style="margin-right: 8px;" href="https://github.com/Akshat-Jain-1999">Akshat Jain</a> &
              <a style="margin-left: 8px;" href="https://github.com/Anoushka03">Anoushka Palvia</a>
            </li>
            <li class="icon brands fa-linkedin">
              <a style="margin-right: 8px;" href="https://www.linkedin.com/in/akshat-jain-446696188/">Akshat Jain</a> & 
              <a style="margin-left: 8px;" href="https://www.linkedin.com/in/anoushka-palvia-ba7719186/">Anoushka Palvia</a>
            </li>
          </ul>
          <ul class="copyright">
            <li>&copy; Copyright 2021 All rights reserved.</li>
            <li>
              Design:
              <a href="https://www.linkedin.com/in/akshat-jain-446696188/"
                >Akshat Jain</a
              >
            </li>
          </ul>
        </div>
      </section>
    </div>

    <!-- Scripts -->
    <script>
      var perfEntries = performance.getEntriesByType("navigation");

      if (perfEntries[0].type === "back_forward") {
        location.reload(true);
      }
    </script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script
      src="https://kit.fontawesome.com/87390cb8ac.js"
      crossorigin="anonymous"
    ></script>

    <script>
      $('#upar').waypoint(function() {
          for(var i=0;i<$("#intro").parent().siblings().length;i++){
              $("#intro").parent().siblings()[i].children[0].classList.remove("active");
          }
          $('#intro').addClass("active");
      }, { offset: '10%'});

      $('#abouttk').waypoint(function() {
          for(var i=0;i<$("#aboutus").parent().siblings().length;i++){
              $("#aboutus").parent().siblings()[i].children[0].classList.remove("active");
          }
          $('#aboutus').addClass("active");
      }, { offset: '8%'});

      $('#vid').waypoint(function() {
          for(var i=0;i<$("#chatty").parent().siblings().length;i++){
              $("#chatty").parent().siblings()[i].children[0].classList.remove("active");
          }
          $('#chatty').addClass("active");
      }, { offset: '40%'});

      $('#footer').waypoint(function() {
          for(var i=0;i<$("#cont").parent().siblings().length;i++){
              $("#cont").parent().siblings()[i].children[0].classList.remove("active");
          }
          $('#cont').addClass("active");
      }, { offset: '50%'});



      // $(document).ready(function () {
      //       $(".fixed-side-navbar a, .primary-button a").on('click', function (event) {
      //           if (this.hash !== "") {
      //               event.preventDefault();
      //               var hash = this.hash;
      //               $('html, body').animate({
      //                   scrollTop: $(hash).offset().top
      //               }, 800, function () {
      //                   window.location.hash = hash;
      //               });
      //           }
      //       });
      //   });

      //   $(document).ready(function () {

      //       $('.eff1').waypoint(function (direction) {
      //           $('.eff1').addClass('animated slideInLeft')
      //       }, {
      //           offset: '50%'
      //       });

      //       $('.eff2').waypoint(function (direction) {
      //           $('.eff2').addClass('animated slideInRight')
      //       }, {
      //           offset: '55%'
      //       });

      //       $('.eff3').waypoint(function (direction) {
      //           $('.eff3').addClass('animated slideInLeft')
      //       }, {
      //           offset: '55%'
      //       });

      //       $('.eff4').waypoint(function (direction) {
      //           $('.eff4').addClass('animated slideInRight')
      //       }, {
      //           offset: '50%'
      //       }); 
      //   });
    </script>
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  </body>
</html>
