<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Authorisation</title>
    <link rel="stylesheet" href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css">
    <link rel="stylesheet" href="https://unpkg.com/filepond/dist/filepond.min.css">
    <link rel="stylesheet" href="/css/dashcss.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>

    <h4><%= username %> </h4>
    
    <div class="menu">
      <div class="form-group">
          <img id="resize" src="/uploads/<%=img_name%>" alt="<%=img_name%>" >
 
      </div>
      <form action="/dashboard" method="GET" role="form">
        <button type="submit"> HOME</button>
      </form>

      <form action="/dashboard/search/chat/<%=searchUserID%>" method="GET">
        <button  type="submit" >CHAT</button>
      </form>

    
</body>


<script>
//to reload when it is accessed through back button of browser
var perfEntries = performance.getEntriesByType("navigation");

if (perfEntries[0].type === "back_forward") {
  location.reload(true);
}
    
</script>

</html>