*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto Slab', serif;
    }
    body{
        width:100vw;
        height:100vh;
        background-color:#2e3141;
        background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0));
    }
    .logout{
      padding:8px;
      position:absolute;
      right:50px;
      top:50px;
    }
    #resize{
      width:150px;
      height:150px;
      border: 2px solid grey;
      border-radius: 100%;
      overflow: hidden;
      margin:50px;
    }
    .username{
      height:20%;
      width:100%;
      font-size:30px;
      text-transform: uppercase;
      padding:50px;
      font-weight: bolder;
      color: white;
      letter-spacing: 2px;
    }
    .menu{
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    form{
      width:30%;
      text-align: center;
    }
    button,input[type=submit]{
      width:100px;
      padding:5px;
      margin:5px;
      cursor:pointer;
      background-color:transparent;
      border:2px solid white;
      border-radius:8px;
      color: white;
      transition:0.3s;
    }
    input{
      width:70%;
      padding:5px;
      margin:5px;
      border: none;
      outline:none;
    }
    input:focus{
      outline:none;
      border:none;
    }
    button:hover{
      color:#2e3141;
      font-weight: bolder;
      background-color:rgba(255,255,255,0.3);
    }
    input[type=submit]:hover{
      color:#2e3141;
      font-weight: bolder;
      background-color:rgba(255,255,255,0.3);
    }
    input[type=file]{
      color:white;
      cursor:pointer;
      padding:5px;
    }
    .bg{
      position: absolute;
    width: 50%;
    height: 75%;
    background-color: transparent;
    z-index: -1;
    box-shadow: 0 0 20px 0px white;
    border-radius: 30px;
  }