*{
    margin: 0;
    padding: 0;
    font-family: 'Merienda One', cursive;
}

.bg{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)) !important;
    border: none;
    width: 61%;
    color: #a5a5a5;
    margin: auto;
}

#resize{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: white;
}

.log{
    background: none;
    border: none;
    transform: translateY(-9px);
}

.log:focus{
    border: none;
}

.log:hover i{
    color:#1abc9c;
}
 body{
    /* background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url('../img/p1.jpg.jpg'); */
    background-image: url('../img/p1.jpg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.container-fluid{
    align-items: center !important;
}
.btn{
    transition: 0.3s ease-out;
    background-color: rgb(255, 255, 255);
    border: 1px solid #1abc9c;
    color: #1abc9c;
    font-weight: bold;
}
.btn:hover{
    background-color: #1abc9c;
    color: white;
    font-weight: bold;
}

.btn1{
    width: 20%;
    background: none;
    border: 2px solid #1abc9c;
    color: #1abc9c;
    padding: 5px;
    font-size: 12px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s ease-out;
}
  
  .btn1:hover{
    color: #fff;
    background-color: #1abc9c;
  } 

.titerror{
    width: 97%;
    position: absolute;
    text-align: center;
}

#style-1::-webkit-scrollbar {
    width: 4px;
    background-color: black;
} 

#style-1::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.3);
}
#style-1::-webkit-scrollbar:horizontal {
    height: 0px;
    background-color: black;
} 

#style-1::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(255,255,255,0.3);
}

/* .titerror{
    display: none;
} */
footer{
    display: absolute;
    bottom: 0;
}

.searched{
    height: 36vh;
    position: relative;
    overflow-y: scroll;
    overflow-x: auto;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5));
    width: 90%;
    color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
}

.searched p{
    padding: 9px;
}

.searched a{
    color: #1abc9c;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.searched a:hover{
    color: aqua;
    text-decoration: none;
}
.menu{
    width: 30%;
    margin-right: 0;
    height: 104vh;
    /* max-height: 100vh; */
    float: left;
    text-align: center;
    padding-top: 50px;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5));
    /*overflow: hidden;*/
} 

.whole{
    height: 100%;
}
i{
    color: white;
    transition: 0.3s ease-out;
}
a,a:hover{
    text-decoration: none;
}
.search-btn:hover > i{
    color: #1abc9c !important;
}
.xx{
    float: left;
    width: 70%;
    align-items: left;
    /* background-color: cadetblue; */
    padding-left: 60px;
    padding-top: 30px;
    height: 104vh;
    overflow-y: scroll;
}

.search-box{
    width: 70%;
    background-color: #7a828e;
    height: 40px;
    border-radius: 40px;
    /* padding: 10px; */
    margin: auto;
}
input[type=text]::placeholder{
    color: rgba(255,255,255,0.9);
}

input[type=text]:hover{
    cursor: pointer;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 40px;
    width: 80%;
    padding-left: 7px;
    transform: translateY(-47%);
}

.search-btn{
    width: 20%;
    height: 20px;
    padding: 20px;
    border-radius: 50%;
    background-color: #7a828e;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

footer {
    /* position: absolute;
    bottom: 0; */
    clear: both;
    position: relative;
    text-align: center;
    padding-bottom: 60px;
    width: 100%;
    height: 30px;   
    background-color: #162e56;
}
 footer p{
  margin-top: 5px;
  font-size: 12px;
  color: #fff;
  padding-top: 18px;
  font-size: medium;
  }

  #welcome{
    font-size: 400%;
    font-family: 'Pacifico', cursive !important;
    padding-bottom: 10px;
    color: #1abc9c;
}

#ph{
    font-weight: 400;
    padding-left: 40px;
    color: white;
}

#pp{
    padding-left: 40px;
    font-size: x-large;
    color: white;
}

#pp > a{
    color: #1abc9c;
    transition: 0.2s ease-out;
}
#pp a:hover{
    color: aqua;
}

#shiftremove{
    float: right;
    transform: translate(-145%,-149%);
}

#shiftupload{
    transform: translateX(-61%);
}

@media screen and (min-width:700px) and (max-width:1200px) {
    #resize{
        width: 150px;
        height: 150px;
    }
    .searched{
        height: 25vh;
    }
}

@media screen and (max-height:650px){
    .searched{
        height:30vh;
    }
}